.detailWrapper {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../image/bg2.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    position: relative;
}
.backwardArrow {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 28px;
    color: #fff;
}
.loadingContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    display: block;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 15px;
}
.L {
    position: absolute;
    left: 5%;
    top: 50%;
    animation: L 2s infinite;
    animation-delay: 80ms;
}
.O {
    position: absolute;
    left: 18%;
    top: 50%;
    animation: O 2s infinite;
    animation-delay: 100ms;
}
.A {
    position: absolute;
    left: 35%;
    top: 50%;
    animation: A 2s infinite;
    animation-delay: 200ms;
}
.D {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: D 2s infinite;
    animation-delay: 300ms;
}
.I {
    position: absolute;
    left: 65%;
    top: 50%;
    animation: I 2s infinite;
    animation-delay: 400ms;
}
.N {
    position: absolute;
    left: 75%;
    top: 50%;
    animation: N 2s infinite;
    animation-delay: 500ms;
}
.G {
    position: absolute;
    left: 90%;
    top: 50%;
    animation: G 2s infinite;
    animation-delay: 600ms;
}

@keyframes L {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes O {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes A {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes D {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes I {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes N {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes G {
    0% {
        top: 0px;
        opacity: 0;
    }
    50% {
        top: 50px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}

.detailCard {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detailImgWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailImg {
    width: 400px;
    height: auto;
    border-radius: 20px;
}
.detailInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}
.detailTitle {
    font-size: 30px;
    font-weight: 700;
}
.detailDes {
    margin: 40px 0;
    font-size: 25px;
    width: 80%;
}
.detailTagUl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.detailTag {
    border-radius: 100vh;
    background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 12px;
    text-align: center;
    color: #7c7979;
}
